.div-save-script {
    background-color: #fff;
    width: 50vw;
    border: none;
    border-radius: 20px;
    position: fixed;
    top: 15svw;
    left: 24svw;
    box-shadow: 0 0 1000px 1000px #00000077;
    z-index: 99999;
    height: 2px;
    min-height: 250px;
    color: #000 !important
}

.div-save-script-btn {
    display: flex;
    justify-content: space-around;
}