*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* BODY */

/* body{ */
    /* background: linear-gradient(380deg, hsl(181, 75%, 55%), #17395d); */
    /* height: 120vh; */
/* } */
