.header .navbar--header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 1px 1px 20px #000;
    top: 0;
    z-index: 999;
}
body{
    background: linear-gradient(380deg, hsl(180, 16%, 89%), #d1ddf3)
}
