@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&family=Matemasie&display=swap');


.main--bg-img-p {
  font-size: 1.6em;
  font-weight: bold;
  position: relative;
  top: 13svw;
  width: 50svw;
  color: #00eeaa;
  /* color: #131925; */
  left: 25svw;
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: oblique;
  /* font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal; */
  /* font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal; */
  transition: font-size all color ease-in-out;
}

.main--bg-img-p:hover {
  font-size: 1.8em;
  cursor: pointer;
  color: #fff
}

.btn--gets-Start:hover .arrowRight {
  fill: rgb(0, 0, 0);
}


@media screen and (max-width: 1200px) {
  .main--bg-img-p {
    width: 50svw;
  }

  .main--bg-img-p:hover {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .main--bg-img-p {
    width: 60svw;
  }

  .main--bg-img-p:hover {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .main--bg-img-p {
    font-size: 1.1em;
    width: 80svw;
    left: 15svw;
    top: 35svw;
  }

  .main--bg-img-p:hover {
    font-size: 1.1em;
  }
}