/* .bg-img-layout-main {
    /* background-image: url('../../Ui/Connexion/Icon/pawel-czerwinski-EKRG2Q-yjFU-unsplash.jpg'); */
/* background: linear-gradient(90deg, #3c3e3f, hsl(0, 0%, 100%)) !important; */
/* } */