.listItemsUser li .pp-user--text {
  margin-left: 70px;
  font-weight: 800;
  font-size: 1.2em;
  color: #000 !important;
}

.listItemsUser li .pp-user-img {
  margin-left: 30px;
}

.pp-user-img {
  padding-left: 11px;
  font-weight: bolder;
  color: #000;
  font-size: 1.5em;
}