@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&family=Matemasie&display=swap');

.summary {
    padding: 24px;
    color: #fff;
    background: linear-gradient(90deg, #000000);
    border-radius: 14px;
    min-height: 40vw;
    border: 1px dotted #ffffff;
    gap: 20px;
}

.summary .btn-summary {
    position: relative;
    width: 25svw;
    top: 1svw;
    min-height: 7svh;
    left: 15svw;
    min-block-size: 40px;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #01d0ff;
    border: none;
    clip-path: margin-box;
}

.header-summary {
    margin-bottom: 16px
}

.header-summary h1 {
    color: #ffd166;
    font-size: 1.6rem;
    margin: 0;
    font-weight: 700
}

.recap-summary ul {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0
}

.recap-summary li {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.25));
    padding: 14px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 6px 18px rgba(248, 247, 247, 0.5);
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.recap-summary h2 {
    font-size: 0.95rem;
    margin: 0 0 8px 0;
    color: #f1f1f1
}

.recap-summary span {
    color: #d65f82;
    font-size: 1rem;
    font-weight: 600;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* Cinema palette background */
:root {
    --bg: #0b0b0b;
    --accent: #c82333;
    --gold: #ffd166
}

body {
    background: var(--bg)
}

@media screen and (max-width:768px) {
    .summary {
        padding: 12px;
        min-height: 95svh;
        max-width: auto;
        width: 100%;
    }

    .summary .btn-summary {
        font-size: 1.1em;
        top: 1svw;
        min-height: 20px;
        width: 35svw;
        left: 25svw
    }
}